body {
   
    background-color: rgb(62, 183, 235);
    color: aliceblue;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: aliceblue;
    border-style: none;
}
input {
    height: 20px;
}